@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'kanit', sans-serif;
}

.zoomImg {
    overflow: hidden;

    & img:hover {
        transform: scale(1.1);
        transition: .3s;
    }
    & img:not(:hover) {
        transition: .3s;
    }
}